#hopeD {
    align-self: flex-end;
    position: absolute;
    right: 200px;
}

#hopeD img {
    width: 150px;
}

@media screen and (max-width: 768px) {
    #hopeD {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #hopeD {
        display: none;
    }
}