.listAdminSheltersEdit {
    width: 1040px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 0;
}

.listAdminSheltersEdit form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.listAdminSheltersEdit form .itemHeaderEdit {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.listAdminSheltersEdit form .itemHeaderEdit .nameEdit {
    width: 200px;
    height: 25px;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 5px 0 5px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit img {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.listAdminSheltersEdit form .itemBodyEdit {
    width: 100%;
    height: 490px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listAdminSheltersEdit form .itemBodyEdit .imgEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listAdminSheltersEdit form .itemBodyEdit .imgEdit img {
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 0;
}

.listAdminSheltersEdit form .itemBodyEdit .imgEdit input {
    width: 200px;
    height: 25px;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 5px 0 5px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.listAdminSheltersEdit form .itemBodyEdit .infos {
    width: 370px;
    height: 100%;
    list-style: none;
    font-family: 'Oswald', serif;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0;
    margin: 5px;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit {
    width: 370px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit p {
    font-family: 'Fredericka the Great', cursive;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0;
    margin: 0 0 5px 0;
    text-decoration: underline;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit label:not(.checkboxLabel) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 0;
    padding: 0;
    text-decoration: underline;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit input:not(.checkboxInput) {
    width: 350px;
    height: 25px;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField label {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.listAdminSheltersEdit form .itemBodyEdit .descriptionContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0 0 5px 0;
    padding: 0;
    text-decoration: underline;
}

.listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionInput {
    width: 90%;
    height: 70%;
    border: 5px solid white;
    border-radius: 10px;
    background: #1D5664;
    font-family: 'Oswald', serif;
    color: #FFFFFF;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    overflow-y: auto;
}

.listAdminSheltersEdit form .itemBodyEdit .descriptionContainer button {
    width: 150px;
    height: 35px;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;   
    padding: 0;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {
    .listAdminSheltersEdit {
        width: 1040px;
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        margin: 10px;
        padding: 0;
    }
    
    .listAdminSheltersEdit form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .nameEdit {
        width: 200px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 5px 5px 0 5px;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit {
        width: 175px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit img {
        width: 50px;
        height: 50px;
        margin: 5px;
        cursor: pointer;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit {
        width: 100%;
        height: 490px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit img {
        width: 150px;
        height: 150px;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit input {
        width: 200px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 5px 5px 0 5px;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos {
        width: 370px;
        height: 100%;
        list-style: none;
        font-family: 'Oswald', serif;
        color: #FFFFFF;
        font-size: 16px;
        padding: 0;
        margin: 5px;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit {
        width: 370px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit p {
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        padding: 0;
        margin: 0 0 5px 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit label:not(.checkboxLabel) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        margin: 10px 0;
        padding: 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit input:not(.checkboxInput) {
        width: 350px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 0;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField label {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionLabel {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        margin: 0 0 5px 0;
        padding: 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionInput {
        width: 90%;
        height: 70%;
        border: 5px solid white;
        border-radius: 10px;
        background: #1D5664;
        font-family: 'Oswald', serif;
        color: #FFFFFF;
        font-size: 16px;
        margin: 10px;
        padding: 10px;
        text-align: justify;
        overflow-y: auto;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer button {
        width: 150px;
        height: 35px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        font-family: 'Fredericka the Great', cursive;
        color: #ffffff;
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;   
        padding: 0;
        margin: 10px 0;
    }
}

@media screen and (max-width: 375px) {
    .listAdminSheltersEdit {
        width: 90%;
        height: 540px;
        min-height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        margin: 10px;
        padding: 0;
    }
    
    .listAdminSheltersEdit form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .nameEdit {
        width: 200px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 5px 5px 0 5px;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit {
        width: 175px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .listAdminSheltersEdit form .itemHeaderEdit .imgContainerEdit img {
        width: 40px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit {
        width: 100%;
        height: 845px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit img {
        width: 100px;
        height: 100px;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .imgEdit input {
        width: 200px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 5px 5px 0 5px;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos {
        width: 90%;
        height: 100%;
        list-style: none;
        font-family: 'Oswald', serif;
        color: #FFFFFF;
        font-size: 16px;
        padding: 0;
        margin: 5px;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit p {
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        padding: 0;
        margin: 0 0 5px 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit label:not(.checkboxLabel) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        margin: 10px 0;
        padding: 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit input:not(.checkboxInput) {
        width: 300px;
        height: 25px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px;
        margin: 0;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: normal;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .infos .infoEdit #checkboxField label {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionLabel {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 18px;
        margin: 0 0 5px 0;
        padding: 0;
        text-decoration: underline;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer #description #descriptionInput {
        width: 90%;
        height: 70%;
        border: 5px solid white;
        border-radius: 10px;
        background: #1D5664;
        font-family: 'Oswald', serif;
        color: #FFFFFF;
        font-size: 16px;
        margin: 10px;
        padding: 10px;
        text-align: justify;
        overflow-y: auto;
    }
    
    .listAdminSheltersEdit form .itemBodyEdit .descriptionContainer button {
        width: 150px;
        height: 35px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        font-family: 'Fredericka the Great', cursive;
        color: #ffffff;
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;   
        padding: 0;
        margin: 10px 0;
    }
}