#map {
    width: 600px;
    height: 600px;
    border: 5px solid white;
    border-radius: 50%;
    background: #1D5664;
    position: absolute;
    z-index: 10;
}

#map #mapContainer .mapboxgl-ctrl-geocoder {
    position: absolute;
    top: 6%;
    right: 30%;
}

#map #mapContainer, .overlays, .mapboxgl-map {
    border-radius: 50%;
}

canvas {
    border-radius: 50%;
}

.marker {
    width: 35px;
    background: #1D5664;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}