#maplist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 0;
    top: -20px;
    left: -300px;
}

#maplist h2 {
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}

#maplist #listItems {
    width: 420px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px;
}

#maplist #listItems .listItem {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #ffffff;
    list-style: none;
    cursor: pointer;
}