#menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 300px;
    height: 450px;
    transition: all 0.3s ease;
}

#menu #menuButton {
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    cursor: pointer;
}

#menu #menuButton div {
    width: 37px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#menu #nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 450px;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

#menu #nav h3 {
    position: absolute;
    top: 0;
    left: 30%;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#menu #nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 110px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    transition: all 0.3s ease;
}

#menu #nav ul li {
    transition: all 0.3s ease;
}

#menu #nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Amiri', serif;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 5%;
    transition: all 0.3s ease;
}

#menu #nav ul li a img {
    width: 100px;
    height: 100px;
    padding: 10%;
}