#manageAdmins {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    /* top: 18%; */
    /* left: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#manageAdmins #manageAdminsBody {
    /* position: relative;
    top: 20%; */
    width: 100%;
    height: 80vh;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; */
}

#manageAdmins #manageAdminsBody h2 {
    font-family: 'Fredericka the Great', cursive;
    color: #FFFFFF;
    font-size: 45px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#manageAdmins #manageAdminsBody #addAdmin {
    width: fit-content;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
}

#manageAdmins #manageAdminsBody #addAdmin p {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #ffffff;
    margin: 0;
}

#manageAdmins #manageAdminsBody #addAdmin a img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

#manageAdmins #manageAdminsBody .listAdmins {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 15px 15px 30px 15px;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    #manageAdmins {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 80vh;
        /* top: 18%; */
        /* left: 5%; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #manageAdmins #manageAdminsBody {
        /* position: relative;
        top: 20%; */
        width: 100%;
        height: 80vh;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* overflow-y: auto; */
    }
    
    #manageAdmins #manageAdminsBody h2 {
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 45px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin {
        width: fit-content;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 0 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin p {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: #ffffff;
        margin: 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin a img {
        width: 100px;
        height: 100px;
        margin: 5px;
    }
    
    #manageAdmins #manageAdminsBody .listAdmins {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 15px 15px 30px 15px;
        overflow: auto;
    }
}

@media screen and (max-width: 375px) {
    #manageAdmins {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 80vh;
        /* top: 18%; */
        /* left: 5%; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    #manageAdmins #manageAdminsBody {
        /* position: relative;
        top: 20%; */
        width: 100%;
        height: 80vh;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* overflow-y: auto; */
    }
    
    #manageAdmins #manageAdminsBody h2 {
        font-family: 'Fredericka the Great', cursive;
        color: #FFFFFF;
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin {
        width: fit-content;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 0 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin p {
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: #ffffff;
        margin: 0;
    }
    
    #manageAdmins #manageAdminsBody #addAdmin a img {
        width: 80px;
        height: 80px;
        margin: 5px;
    }
    
    #manageAdmins #manageAdminsBody .listAdmins {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 15px 15px 30px 15px;
        overflow: auto;
    }
}