.popUpDelete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popUpDelete .deleteWindow {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px
}

.popUpDelete .deleteWindow p {
    font-family: 'Oswald', serif;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}

.popUpDelete .deleteWindow div {
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popUpDelete .deleteWindow div button {
    width: 150px;
    height: 35px;
    background: #1D5664;
    border: 5px solid white;
    border-radius: 10px;
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;   
    padding: 0;
    margin: 10px 0;
}

@media screen and (max-width: 375px) {
    .popUpDelete {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    
    .popUpDelete .deleteWindow {
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        padding: 5px
    }
    
    .popUpDelete .deleteWindow p {
        font-family: 'Oswald', serif;
        color: #FFFFFF;
        font-size: 22px;
        text-align: center;
    }
    
    .popUpDelete .deleteWindow div {
        width: 320px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .popUpDelete .deleteWindow div button {
        width: 150px;
        height: 35px;
        background: #1D5664;
        border: 5px solid white;
        border-radius: 10px;
        font-family: 'Fredericka the Great', cursive;
        color: #ffffff;
        font-size: 20px;
        font-weight: normal;
        cursor: pointer;   
        padding: 0;
        margin: 10px 0;
    }
}