/* @font-face {
    font-family: "Fredericka the Great";
    src: url("../Fredericka_the_Great/FrederickatheGreat-Regular.ttf") format("woff2");
} */

#title {
    position: relative;
    top: 0;
    left: 35%;
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
    align-self: flex-start;
    cursor: pointer;
}

#title #first {
    font-size: 70px;
    font-weight: normal;
    margin: 0;
}

#title #second {
    position: absolute;
    top: 77%;
    left: 45%;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 768px) {
    #title {
        left: 0;
    }
    
    #title #first {
        font-size: 50px;
    }
    
    #title #second {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    #title {
        left: 0;
    }
    
    #title #first {
        width: 250px;
        font-size: 30px;
    }
    
    #title #second {
        width: 160px;
        font-size: 16px;
        top: 90%;
        left: 40%;
    }
}