/* @font-face {
    font-family: "Fredericka the Great";
    src: url("../Fredericka_the_Great/FrederickatheGreat-Regular.ttf") format("woff2");
} */

#title {
    position: relative;
    top: 0;
    left: 25%;
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
    align-self: flex-start;
}

#title #first {
    font-size: 96px;
    font-weight: normal;
    margin: 0;
}

#title #second {
    position: absolute;
    top: 77%;
    left: 45%;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}